.desktop-message__text {
    font-size: 30px;
    font-weight: 300;
    color: #083958;
    text-align: center;
    max-width: 1150px;
    margin: 0 auto;
}

.desktop-message__text span {
    font-style: italic;
    font-weight: 400;
}

.logo__inicial {
    display: block;
    margin: 0 auto 5px;
    max-width: 220px;
}

.logo__login {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
}

.text-header__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

.text-header__paragraph {
    font-size: 16px;
    text-align: center;
    margin-bottom: 55px;
    font-weight: 300;
}

.text-header__link,
.bottom__link {
    font-weight: 500;
    color: #00D669;
    text-decoration: none;
}

.text-header__link:hover,
.bottom__link {
    color: #00D669;
    text-decoration: none;
}

.button__login {
    position: relative;
    display: block;
    padding: 16px 15px;
    margin: 4px 4px 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    box-shadow: inset -4px -4px #adafbc;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .75);
    text-decoration: none;
    opacity: 0;
    animation: fadein 1s forwards;
    animation-delay: 3s;
}

.button__login::before,
.button__login::after {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    content: "";
    border-color: #222;
    border-style: solid;
    border-width: 4px;
}

.button__login::before {
    top: -4px;
    left: 0;
    border-right: 2px;
    border-left: 2px;
}

.button__login::after {
    top: 0;
    left: -4px;
    border-top: 2px;
    border-bottom: 2px;
}

.bottom__button {
    position: relative;
    display: block;
    padding: 16px 15px;
    margin: 4px 4px 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    box-shadow: inset -4px -4px #adafbc;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .75);
    text-decoration: none;
}

.bottom__button::before,
.bottom__button::after {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    content: "";
    border-color: #222;
    border-style: solid;
    border-width: 4px;
}

.bottom__button::before {
    top: -4px;
    left: 0;
    border-right: 2px;
    border-left: 2px;
}

.bottom__button::after {
    top: 0;
    left: -4px;
    border-top: 2px;
    border-bottom: 2px;
}

.bottom__text {
    text-align: center;
}

.form__block {
    position: relative;
    display: block;
    margin: 30px auto;
}

.form__label {
    display: block;
    transform: translate(15px, -34px);
    transition: all 0.2s ease;
    font-weight: 300;
}

.form__input:focus~.form__label,
.form__input:valid~.form__label {
    transform: translate(15px, -65px);
    font-weight: 500;
    color: #0F567C;
}

.form__input {
    display: block;
    width: 100%;
    height: 43px;
    position: relative;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
    padding: 10px 15px;
    transition: .3s ease;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    outline: 0;
}

.form__input:disabled~.form__label {
    color: #9e9e9e;
}

.form__input:focus {
    outline: 0;
    background: #fff;
}

.form__input::before,
.form__input::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border-color: #222;
    border-style: solid;
    border-width: 4px;
}

.form__input::before {
    top: -4px;
    left: 0;
    border-right: 2px;
    border-left: 2px;
}

.form__input::after {
    top: 0;
    left: -4px;
    border-top: 2px;
    border-bottom: 2px;
}

.form__datetime {
    background: no-repeat;
    border: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    padding: 10px 15px;
    transition: .3s ease;
    outline: 0;
    font-family: 'Rubik', sans-serif;
}

.form__datetime:focus {
    background-color: #fff;
}

.form__icon {
    position: absolute;
    width: 20px;
    top: 13px;
    right: 15px;
}

.form__bottom {
    position: relative;
    top: -10px;
    padding-left: 15px;
}

.form__checklabel {
    font-size: 12px;
    color: #9e9e9e;
    transition: .3s ease;
}

.form__checkbox {
    top: 2px;
    display: inline-block;
    position: relative;
}

.form__checkbox:checked+.form__checklabel {
    color: #222;
    font-weight: 500;
}

.form__checkbox:checked~.form__labelCPF {
    color: #9e9e9e;
}


/*----- CADASTRO -----*/
.options-button {
    text-decoration: none;
    color: #222;
}

.options-title {
    font-weight: 500;
    font-size: 20px;
}

.options-icon {
    display: block;
    max-width: 110px;
    margin: 13px auto;
}

.options-description {
    font-size: 14px;
}

.recycle-options-container {
    flex-wrap: wrap;
}

.recycle-options-container ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recycle-options-item img {
    max-width: 70px;
}

#feedback {
    font-size: 14px;
}

#selectable .ui-selecting {
    background: #00E98F;
}

#selectable .ui-selected {
    background: #00E98F;
    color: #fff;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#selectable li {
    margin: 3px;
    padding: 4px;
    float: left;
    width: 100px;
    height: 100px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: .3s ease;
}

.swiper-login .swiper-wrapper {
    margin-bottom: 30px;
}

.swiper-login .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-login .swiper-pagination-bullet {
    border-radius: 0;
    opacity: .1;
    transition: .3s ease;
}

.swiper-login .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background: #00D669;
    opacity: 1;
}

.swiper-login .bottom {
    max-width: 95%;
    margin: 0 auto;
}

.login-slide .text-header {
    height: 180px;
}

.login-slide .text-header__paragraph {
    margin-bottom: 35px;
}

.image-container {
    max-width: 250px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
}

.back-button {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #222;
}

.back-button-icon {
    display: block;
    max-width: 20px;
    margin-right: 5px;
}

.back-button-text {
    font-size: 12px;
}

/*----- APP HOME -----*/
.menu-perfil__foto {
    width: 90px;
    height: 90px;
    background-color: #fff;
    display: block;
    margin: 0 auto 16px;
    border-radius: 50%;
    position: relative;
    background-image: url('../images/foto/gerad-tiagom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-perfil__nivel {
    display: block;
    max-width: 50px;
    margin-right: 5px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.menu-perfil__block {
    text-align: center;
}

.menu-section__list li a {
    color: #222;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.menu__item {
    text-decoration: none;
    color: #222;
}

.menu__main-item {
    background-color: #00E98F;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    flex-shrink: 0;
    box-shadow: 0 0 15px rgb(0, 233, 143);
}

.menu__icon {
    max-width: 30px;
    flex-shrink: 0;
}

.menu__caption {
    font-size: 10px;
}

.home-menu__content {
    padding-bottom: 10px;
}

.hr {
    display: block;
    width: 100%;
    height: .5px;
    background-color: #222;
    opacity: .1;
    margin: 20px auto;
}

.hr-40 {
    display: block;
    width: 220px;
    height: .5px;
    background-color: #222;
    opacity: .1;
    margin: 40px auto;
}

.searchbox-wrapper {
    position: relative;
}

.searchbox {
    width: 100%;
    height: 45px;
    border: 0;
    margin: 25px auto;
    padding: 16px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    transition: .3s ease;
    position: relative;
}

.searchbox:focus {
    outline: 0;
    background-color: #00E98F;
    color: #222;
    font-weight: 500;    
}

.searchbox:focus::placeholder {
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.6);
}

.searchbox:read-write {
    color: #222;
}

.searchbox__icon {
    max-width: 10px;
    position: absolute;
    top: 40px;
    right: 10px;
    opacity: 0;
    transition: .3s ease;
}

.searchbox:focus + .searchbox__icon {
    opacity: 1;
}

.home-menu__dropdown {
    display: block;
    margin: 0 auto 15px;
    background: none;
    border: 0;
    padding: 20px;
}

.home-menu__dropdown:focus {
    outline: 0;
}

.home-menu__line {
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background-color: #d5d5d5;
}

.home-menu__level {
    max-width: 50px;
    margin-right: 6px;
    display: block;
}

.home-menu__option {
    text-decoration: none;
    color: #222;
    flex-shrink: 0;
}

.home-menu__icon {
    display: block;
    max-width: 52px;
    margin-right: 10px;
    flex-shrink: 0;
}

.home-menu__address {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 275px;
    display: block;
    overflow: hidden;
}

/*----- APP RANKING -----*/
.tabs li {
    flex: 1;
    text-align: center;
}

.tabs__item {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #222;
    border-top: 5px solid #00E98F;
    transition: .3s ease;
}

.tabs__item.inactive {
    border-top-color: transparent;
    background-color: #e9e9e9;
    color: #9e9e9e;
}

.tabs-section__screen {
  width: 100%;
  text-align: center;
  padding: 16px 16px 115px;
}

.top-ranking__block {
    display: block;
    text-decoration: none;
    color: #222;
}

.top-ranking__photo {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 auto 15px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-ranking__nivel {
    position: absolute;
    max-width: 75px;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.ranking-name {
    font-weight: 500;
}

.ranking-pr {
    font-size: 12px;
    color: #5e5e5e;
}

.ranking-number {
    font-weight: 700;
    color: #00547a;
}

.ranking-pr span {
    font-size: 16px;
    color: #00d361;
    font-weight: 500;
}

.ranking__block {
    text-decoration: none;
    color: #222;
}

.ranking__position {
    width: 20px;
    text-align: left;
    margin-right: 15px;
}

.ranking__photo {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ranking__nivel {
    position: absolute;
    width: 40px;
    display: block;
    margin: 0 auto;
    bottom: -5px;
}

/*----- APP RANKING -----*/
.ranking-highlight {
    font-weight: 700;
    color: #0F567C;
}

.profile-label__icon {
    display: block;
    max-width: 30px;
    margin-right: 5px;
}

.profile-info__photo {
    display: block;
    margin: 0 auto 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-info__photo--gerador1 {
    background-image: url('../images/foto/gerad-tiagom.jpg');
}

.profile-info__photo--gerador2 {
    background-image: url('../images/foto/gerad-fernandap.jpg');
}

.profile-info__photo--gerador3 {
    background-image: url('../images/foto/gerad-feliper.jpg');
}

.profile-info__photo--gerador4 {
    background-image: url('../images/foto/gerad-marinac.jpg');
}

.profile-medals__item {
    text-align: center;
}

.profile-medals__icon {
    max-width: 60px;
    display: block;
    margin: 0 auto 10px;
}

.profile-contact__option {
    text-decoration: none;
    color: #222;
    padding: 5px 0;
}

.profile-contact__icon {
    max-width: 40px;
    margin-right: 10px;
}

.profile-medals .ranking-pr span {
    font-weight: 400;
}

.coletivar__icon {
    flex-shrink: 0;
    display: block;
    max-width: 110px;
    margin: 10px auto 20px
}

.button {
    position: relative;
    display: block;
    width: 250px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    box-shadow: inset -4px -4px #adafbc;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .75);
    text-decoration: none;
}

.button::before,
.button::after {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    content: "";
    border-color: #222;
    border-style: solid;
    border-width: 4px;
}

.button::before {
    top: -4px;
    left: 0;
    border-right: 2px;
    border-left: 2px;
}

.button::after {
    top: 0;
    left: -4px;
    border-top: 2px;
    border-bottom: 2px;
}

.icon-forward {
    display: block;
    width: 10px;
}

#selectable li.recycle__btn {
    width: 150px;
    height: 80px;
}

.recycle-options-item img.recycle__icon {
    max-width: 70px;
}

.points-label {
    font-size: 12px;
    font-weight: 300;
}

/*----- AGENDAMENTO -----*/
.agendamento-card {
    margin-bottom: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,.075);
}

.agendamento-card__icon-cancelado {
    max-width: 25px;
    margin-left: 5px;
}

.agendamento-card__icon-concluido {
    max-width: 40px;
    margin-left: 5px;
}

.agendamento-card__footer .button {
    padding: 8px;
    width: 130px;
}

.avaliar-img {
    display: block;
    margin: 30px auto;
    max-width: 220px;
}

.avaliar-estrelas {
    max-width: 190px;
    margin: 0 auto;
}

.avaliar-estrelas img {
    display: block;
    width: 30px;
}

/*----- CHAT -----*/
.chat {
    padding: 0 16px;
} 
.chat__block {
    text-decoration: none;
    color: #222;
}
.chat__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 10px;
}

.chat__avatar-catad {
    background-image: url('../images/foto/catad-inacio.jpg');  
}

.chat__avatar-catad2 {
    background-image: url('../images/foto/catad-roberto.jpg');  
}

.chat__avatar-catad3 {
    background-image: url('../images/foto/catad-carla.jpg');  
}

.chat__avatar-catad4 {
    background-image: url('../images/foto/catad-maria.jpg');  
}

.chat__avancar {
    width: 10px;
}

.chat__avatar-balao {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 5px;
}

.chat__avatar-coop {
    background-image: url('../images/foto/coop-cidadeverde.jpg');  
}

.chat__avatar-coop2 {
    background-image: url('../images/foto/coop-begreen.jpg');  
}

.chat__gerador {
    text-align: right;
    display: inline-block;
    float: right;
}

.chat__gerador-balao {
    background-color: #fff;
    border-radius: 10px 10px 0 10px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.075);
}

.chat__catador {
    display: inline-block;
    padding: 15px 0;
    float: left;
}

.chat__textarea {
    position: absolute;
    bottom: 80px;
    right: 0;
    left: 0;
}

/*----- APP CARTEIRA -----*/
.carteira-header {
    padding: 20px 20px 25px;
    background-color: #083958;
    color: #fff;
    position: relative;
    width: 100%;
    height: 160px;
    text-align: center;
}

.carteira-header .button {
    width: 150px;
    padding: 10px;
}

.carteira-header__tutorial {
    width: 100%;
    height: 50px;
    text-decoration: none;
    background-color: #0e6c94;
    color: #fff;
    padding: 16px;
}

.carteira-header__tutorial p {
    margin-right: 3px;
}

.carteira-movimento__item {
    margin-bottom: 25px;
}

.carteira-header__icon {
    width: 13px;
}

.carteira-movimento__esquerda {
    margin-right: 15px;
}

.carteira-movimento__icon {
    width: 25px;
    display: block;
    margin-bottom: 5px;
}

.carteira-movimento__detalhes {
    text-align: left;
}

.line {
    width: 1px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background-color: #ccc;
}

.carteira-pagar-content {
    padding: 50px 16px;
}

.carteira-pagar-bars {
    margin-top: 20px;
}

.barcode, .qrcode {
    flex-shrink: 0;
    display: block;
}

.barcode {
    display: block;
    width: 220px;
}

.qrcode {
    width: 80px;
}

.carteira-concluido {
    display: block;
    width: 200px;
    margin: 30px auto;
}

@media (min-width: 414px) {
    .home-menu__address {
        max-width: 315px;
    }

    .menu {
        margin-bottom: -2px;
    }

    .coletivar-container {
        padding-top: 60px;
        padding-bottom: 150px;
    }
}